licence.png
#db.properties
build/
classes/
bak
BAK
UML/
Thumbs.db
*.class
*.log
*.tmp
*.tmp*
*.swp
*.bak
*.BAK
*.svn
*~
#/.classpath
/.gitignore
bin/
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


